.cars{
    background-color: blue;
    border: 2px solid black;
    padding:20px;
    margin: 20px;
    color: white;
    text-align: center;

}

.fruits{
    background-color: green;
    border: 2px solid black;
    padding:20px;
    margin: 20px;
    color: white;
    text-align: center;

}

#wanafunzi{
    background-color: red;
    margin: 20px;

}